/* static/style.css */

.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-secondary:hover {
    color: #000000;
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.list-group-item {
    background-color: #1f1f1f;
    border-color: #333333;
}

.list-group-item-action:hover {
    background-color: #333333;
}
