<html>
    {% extends "base.html" %}
    {% block content%}
    <head>
        <title>Account {{ account.number }}</title>
    </head>
    <body>
        <h1 class="pagetitle">Account {{ account.number }}</h1>
        <br>
        <p class="current-balance">Current Balance: <strong>{{ account.balance }} EUR</strong></p>
        <br>
        <div class="actions-container">
            <a id="deposit-btn" class="action-btn deposit-btn" href="{{ url_for('deposit', id=account.id) }}">Deposit Money</a>
            <a id="payment-btn" class="action-btn payment-btn" href="{{ url_for('payment', id=account.id) }}">Send Payment</a>
        </div>
        <br>
        <h2>Account transactions</h2>
        <table>
            <thead>
                <th class="datecolumn">Date</th>
                <th class="desccolumn">Description</th>
                <th class="amountcolumn">Amount</th>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date.strftime("%d/%m/%Y - %H:%M:%S") }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.amount }} EUR</td>
                </tr>
                {% endfor %}
            </tbody>  
        </table>
    </body>
    {% endblock %}
</html>