<html>
    <a href="{{ url_for('mybank')}}">My Bank</a>  
    --- <a href="{{ url_for('register') }}">Register</a>

    {% if user and user != "anonymous" %}
      <p>Logged in as {{ user.firstname }} {{ user.lastname }}</p> ---<a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    --- <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    

{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}






</html>