<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'primary': 'rgb(6 34 82)',
                        'secondary': 'rgb(163 139 93)',
                    }
                }
            }
        }
    </script>
    <title>Gemini Bank</title>
</head>
<body class="bg-gray-100 text-primary">
    <nav class="bg-white shadow-md">
        <div class="container mx-auto px-6 py-3 flex justify-between items-center">
            <a href="{{ url_for('mybank')}}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Gemini Bank" class="h-10"></a>
            <div>
                {% if user and user != "anonymous" %}
                  <div class="flex items-center">
                    <p class="mr-4 text-primary">Logged in as <span class="font-semibold">{{ user }}</span></p>
                    <a href="{{ url_for('logout') }}" class="bg-secondary text-white font-bold py-2 px-4 rounded-lg hover:bg-yellow-600">Logout</a>
                  </div>
                {% else %}
                  <div class="flex items-center">
                    <a href="{{ url_for('register') }}" class="bg-secondary text-white font-bold py-2 px-4 rounded-lg hover:bg-yellow-600 mr-4">Sign Up</a>
                    <a href="{{ url_for('login') }}" class="bg-gray-300 text-primary font-bold py-2 px-4 rounded-lg hover:bg-gray-400">Login</a>
                  </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mx-auto px-6 py-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="p-4 mb-4 text-sm text-primary bg-blue-50 rounded-lg" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

</body>
</html>