<html>
    <a href="{{ url_for('mybank')}}">My Bank</a>  
    

    {% if user and user != "anonymous" %}
      <p class="profile ">Logged in as {{ user }} --- <a href="{{ url_for('logout') }}">Logout</a></p>
    {% else %}
      <p class="profile"><a href="{{ url_for('register') }}">Register</a> --- <a href="{{ url_for('login') }}">Login</a></p>
    {% endif %}
    

{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
<head>
  <link href="{{url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

    {% block content %}{% endblock %}






</html>