<html>
    {% extends "base.html" %}
    {% block content%}
    <head>
        <title>Register new user</title>
    </head>
    <body>
        <h1 class="pagetitle">Register new user</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.firstname.label }}
            {{ form.firstname(size=20) }}<br><br>
            {{ form.lastname.label }}
            {{ form.lastname(size=20) }}<br><br>
            {{ form.email.label }}
            {{ form.email(size=20) }}<br><br>
            {{ form.password1.label }}
            {{ form.password1(size=20) }}<br><br>
            {{ form.password2.label }}
            {{ form.password2(size=20) }}<br><br>
            {{ form.submit() }}
        </form>
    </body>
    {% endblock %}
</html>