<html>
    {% extends "base.html" %}
    {% block content %}
    <head>
        <title>New Transaction</title>
    </head>
    <body>
        <h1>New Transaction</h1>
          <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.description.label }}
            {{ form.description() }}
            {{ form.amount.label }}
            {{ form.amount() }}
            {{ form.type.label }}
            {{ form.type() }}
            {{ form.submit() }}            
          </form>
    </body>
    {% endblock %}
</html>