{% extends "base.html" %}
{% block content%}
<a href="{{url_for('account', id=account.id)}}" class="btn btn-outline-secondary mb-4">Back to Account</a>
<h1>New Transaction</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.amount.label(class="form-label") }}
    {{ form.amount(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.type.label(class="form-label") }}
    {{ form.type(class="form-control") }}
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}