<html>
    {% extends "base.html" %}
    {% block content %}
    <head>
        <title>New Transaction</title>
    </head>
    <body>
        <p>
          <a href="{{url_for('account', id=account.id)}}">Back to Account</a>
        </p>
        <h1 class="pagetitle">New Transaction</h1>
          <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.description.label }}
            {{ form.description() }}<br><br>
            {{ form.amount.label }}
            {{ form.amount() }}<br><br>
            {{ form.type.label }}
            {{ form.type() }}<br><br>
            {{ form.submit() }}            
          </form>
    </body>
    {% endblock %}
</html>